[submodule "Zeeguu-API"]
	path = Zeeguu-API
	url = https://github.com/zeeguu-ecosystem/Zeeguu-API
[submodule "Zeeguu-Web"]
	path = Zeeguu-Web
	url = https://github.com/zeeguu-ecosystem/Zeeguu-Web
[submodule "Zeeguu-Core"]
	path = Zeeguu-Core
	url = https://github.com/zeeguu-ecosystem/Zeeguu-Core
[submodule "Teacher-Dashboard"]
	path = Teacher-Dashboard
	url = https://github.com/zeeguu-ecosystem/Teacher-Dashboard
[submodule "Exercises-Platform"]
	path = Exercises-Platform
	url = https://github.com/zeeguu-ecosystem/Exercises-Platform
[submodule "Unified-Multilanguage-Reader"]
	path = Unified-Multilanguage-Reader
	url = https://github.com/zeeguu-ecosystem/Unified-Multilanguage-Reader
