
config_vars.sh

config/fmd.cfg
config/core.cfg
config/api.cfg
config/teacherdash.cfg
config/web.cfg

docker-files/zeeguu-web/apache-zeeguu.conf

.idea*
.vagrant*
.DS_Store
*-console.log

zeeguu-data*